.categories h3 {
  color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}
.categories__list {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

@media screen and (min-width: 768px) {
  .categories__list {
    grid-template-columns: 1fr 1fr;
  }
} ;
