.quiz {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.quiz__content {
  display: flex;
  flex-direction: column;
}

.quiz__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.quiz__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 700;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-size: 1rem;
  transition: all 1s;
  margin: 1rem;
  width: 100%;
}

.quiz__button svg {
  background-color: transparent;
}

.quiz__button:focus,
.quiz__button:hover {
  outline: none;
}

.quiz__button:hover {
  background-color: var(--primary-color);
  color: black;
}

@media screen and (min-width: 768px) {
  .quiz__button {
    width: 13rem;
  }
}
