.card {
  color: var(--primary-color);
  display: flex;
  text-align: center;
  justify-content: center;
  width: 20rem;
  padding: 4rem;
  border: 2px solid var(--primary-color);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 30rem;
}

.card__title {
  font-size: 1.5rem;
  background-color: transparent;
}

.card:hover {
  background-color: var(--primary-color);
  color: black;
}
