.results {
  color: var(--primary-color);
}

.results h1 {
  display: flex;
  justify-content: center;
}

.result__answers {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.result__answer {
  flex-direction: row;
  display: flex;
  margin-bottom: 3rem;
  border: 2px solid;
  padding: 1rem;
  font-weight: bold;
  width: 35rem;
  margin: 1rem;
}

.result__answer:hover {
  background-color: var(--primary-color);
  color: black;
}

.result__answer__item {
  margin-right: 1rem;
  background-color: transparent;
}

.result__answer__item svg {
  background: transparent;
}

.result__answer__item:last-child {
  margin-left: auto;
  margin-right: 0;
}

.results__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38rem;
  margin: 0 auto;
  position: relative;
  margin-top: 2rem;
}

.results__controls svg {
  position: absolute;
  left: 0;
  font-size: 3rem;
  top: 0;
  background: transparent;
}

.results__controls svg:hover {
  background-color: var(--primary-color);
  color: black;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}

.result__question {
  flex-wrap: wrap;
  display: flex;
  width: 35rem;
  margin-left: 1rem;
}
