.question {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 2rem;
}

.question button {
  background-color: transparent;
  font-weight: 700;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1rem;
  width: 100%;
  transition: all 1s;
}

.question button:focus,
.question button:hover {
  outline: none;
}

.question button:hover {
  background-color: var(--primary-color);
  color: black;
  transform: scale(1.1);
}

.question ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.question__question {
  margin-bottom: 1rem;
}

.question__answer {
  margin: 1rem;
  margin-bottom: 1rem;
  flex: 50%;
}

@media screen and (min-width: 780px) {
  .question {
    width: 40rem;
  }

  .question__answer {
    flex: calc(50% - 4rem);
  }
}
